In [ ]:
mlist =['AAPL','MSFT','NVDA','TSLA','ADBE','NFLX','QCOM','SHOP','ERF',
        'ABNB','ABT','AMAT','AMD','AMZN','ASML','AVGO','BA','BAC','BKNG',
        'CMG','COST','CRM','CUK','DOCU','DPZ','ETSY','F','FTNT','GOOGL',
        'ILMN','ISRG','KLAC','MCD','LRCX','MEDP','META','MRVL','MU','NKE',
        'ORCL','PANW','PFE','PLTR','PLUG','PYPL','QQQ','SPY','ROKU','RSG',
        'SBUX','SNOW','SQ','SWKS','TGT','TMO','TSM','TWLO','TXN','UPST',
        'VEEV','WMT']

In [4]:
import sys

sys.path.append(r'\Users\jimhu\option_trader\src')
  
from tradingBot.admin.site import site
from tradingBot.admin.user import user
from tradingBot.consts import strategy

mysite = site('mysite')
mysite.update_default_strategy(strategy.ALL_STRATEGY)
print(mysite.get_default_strategy())

['Long Call', 'Long Put', 'Covered Call', 'Short Put', 'Credit Put Spread', 'Debit Put Spread', 'Credit Call Spread', 'Debit Put Spread', 'Credit Iron Condor', 'Debit Iron Condor', 'Credit Call Butterfly', 'Credit Put Butterfly', 'Debit Call Butterfly', 'Debit Put Butterfly', 'Iron Butterfly', 'Reverse Iron Butterfly']

In [2]:
#mysite.get_monitor_list()
df = mysite.get_monitor_df()
#df['iv1/hv'] = 
#len(mysite.select_high_IV_HV_ratio_asset(1.2))
#mysite.select_low_IV_HV_ratio_asset(0.8)
#mysite.expand_monitor_list(mlist)

#mysite.refresh_site_monitor_list()

In [5]:
jihuang = mysite.create_user('jihuang')
jihuang.update_user_email('jim.huang.bellevue@gmail.com')
chrishua = mysite.create_user('chrishua')
andyhua = mysite.create_user('andyhua')
dennishua = mysite.create_user('dennishua')

ERROR:tradingBot.admin.site:User jihuang already exists return existing user
ERROR:tradingBot.admin.site:User chrishua already exists return existing user
ERROR:tradingBot.admin.site:User andyhua already exists return existing user
ERROR:tradingBot.admin.site:User dennishua already exists return existing user

In [4]:
jihuang.update_watchlist('default', mysite.get_monitor_list())

In [6]:
iron_condor = jihuang.create_account('iron_condor')
iron_condor.update_default_strategy(strategy.IRON_CONDOR_LIST)
spread = jihuang.create_account('spread')
spread.update_default_strategy(strategy.SPREAD_LIST)
butterfly = jihuang.create_account('butterfly')
butterfly.update_default_strategy(strategy.BUTTERFLY_LIST)
single = jihuang.create_account('single')
single.update_default_strategy(strategy.SINGLE_LIST )
#winwin.set_inital_balance(100000)

ERROR:tradingBot.admin.user:Account iron_condor alreadt exist return existing one
ERROR:tradingBot.admin.user:Account spread alreadt exist return existing one
ERROR:tradingBot.admin.user:Account butterfly alreadt exist return existing one
ERROR:tradingBot.admin.user:Account single alreadt exist return existing one

In [14]:
import pandas as pd

df_single = single.get_optionSummary()
print(df_single.shape)
df_spread = spread.get_optionSummary()
print(df_spread.shape)
df_iron_condor = iron_condor.get_optionSummary()
print(df_iron_condor.shape)
df_butterfly = butterfly.get_optionSummary()
print(df_butterfly.shape)
df = pd.concat([df_single, df_spread, df_iron_condor, df_butterfly])

(101, 38)
(275, 43)
(131, 53)
(113, 53)

In [15]:
df.groupby(['symbol']).size()

symbol
AAPL     11
ABNB     13
ADBE     13
AMD      13
AMZN     12
AVGO     10
BA       14
BAC      16
CMG      10
COST     12
CRM      11
CUK       3
DOCU     14
DPZ      13
ERF       2
F         8
FTNT     16
GOOGL    16
ILMN     14
ISRG     11
KLAC     11
LRCX      9
MCD      13
MEDP      3
META     12
MRVL     15
MSFT     12
MU       18
NFLX      6
NKE      14
NVDA      9
ORCL     17
PLTR     11
PLUG      7
PYPL     17
QCOM     14
QQQ      31
ROKU     14
RSG       2
SBUX     14
SHOP     15
SNOW     12
SPY      34
TGT      14
TMO       8
TSM      14
TWLO     14
TXN      12
UPST     14
VEEV      2
dtype: int64

In [18]:
df.groupby(['exp_date']).size()

exp_date
2023-07-31     13
2023-08-01     12
2023-08-02     12
2023-08-03     10
2023-08-04    263
2023-08-11    236
2023-08-18    227
dtype: int64

In [16]:
df[df['symbol']=='MSFT'].groupby(['exp_date']).size()

exp_date
2023-08-04    4
2023-08-11    4
2023-08-18    4
dtype: int64

In [9]:
df

,symbol,strategy,credit,status,exp_date,spread,open_price,breakeven_l,breakeven_h,max_profit,...,order_id,uuid,legs_desc,target_low,target_high,leg 1 otype,leg 1 strike,leg 1 exp_date,leg 1 open_action,leg 1 quantity
0,ABNB,Short Put,True,opened,2023-08-04,None,5.65,140.35,NaN,5.65,...,None,da4851119d5f4f3a9f0577b5b0cd76f6,"[""{\""STRIKE\"": 146.0, \""OTYPE\"": \""put\"", \""OP...",134.740004,162.800004,put,146.0,2023-08-04,sell_to_open,2.0
1,ABNB,Short Put,True,opened,2023-08-11,None,6.10,139.90,NaN,6.10,...,None,ac7f3790dffd4ab2b019ef08aa823121,"[""{\""STRIKE\"": 146.0, \""OTYPE\"": \""put\"", \""OP...",133.380004,164.160004,put,146.0,2023-08-11,sell_to_open,2.0
2,ADBE,Short Put,True,opened,2023-08-04,None,9.53,507.97,NaN,9.53,...,None,b9162883eeac442e84a722f50d603579,"[""{\""STRIKE\"": 517.5, \""OTYPE\"": \""put\"", \""OP...",495.579980,544.879980,put,517.5,2023-08-04,sell_to_open,1.0
3,ADBE,Short Put,True,opened,2023-08-11,None,13.30,506.70,NaN,13.30,...,None,d9d903860ac4494c9708c9c800d23785,"[""{\""STRIKE\"": 520.0, \""OTYPE\"": \""put\"", \""OP...",490.339980,550.119980,put,520.0,2023-08-11,sell_to_open,1.0
4,ADBE,Short Put,True,opened,2023-08-18,None,14.60,505.40,NaN,14.60,...,None,625b595e61fa4c1cb6a6b0765a447eb8,"[""{\""STRIKE\"": 520.0, \""OTYPE\"": \""put\"", \""OP...",487.679980,552.779980,put,520.0,2023-08-18,sell_to_open,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,TWLO,Short Put,True,opened,2023-08-11,None,3.62,57.38,NaN,3.62,...,None,30146b7a59f34e3ca3325b90ec022304,"[""{\""STRIKE\"": 61.0, \""OTYPE\"": \""put\"", \""OPE...",53.529998,70.989998,put,61.0,2023-08-11,sell_to_open,3.0
97,TXN,Short Put,True,opened,2023-08-04,None,4.12,178.38,NaN,4.12,...,None,33033a833abd413bacf5464fa1422e0e,"[""{\""STRIKE\"": 182.5, \""OTYPE\"": \""put\"", \""OP...",175.190007,193.450007,put,182.5,2023-08-04,sell_to_open,3.0
98,UPST,Short Put,True,opened,2023-08-04,None,4.55,48.45,NaN,4.55,...,None,89f8be7e20f34bdb86a6b6af51822368,"[""{\""STRIKE\"": 53.0, \""OTYPE\"": \""put\"", \""OPE...",43.649998,64.689998,put,53.0,2023-08-04,sell_to_open,3.0
99,UPST,Short Put,True,opened,2023-08-11,None,7.35,44.65,NaN,7.35,...,None,cec58d6cede74bc7b0e4f7c33ded25d3,"[""{\""STRIKE\"": 52.0, \""OTYPE\"": \""put\"", \""OPE...",36.969998,71.369998,put,52.0,2023-08-11,sell_to_open,2.0
100,UPST,Short Put,True,opened,2023-08-18,None,8.23,44.27,NaN,8.23,...,None,3d451308b2ed4ca59c3b7eaba7605f8b,"[""{\""STRIKE\"": 52.5, \""OTYPE\"": \""put\"", \""OPE...",35.869998,72.469998,put,52.5,2023-08-18,sell_to_open,2.0

In [20]:

df[df['symbol']==''][['strategy','exp_date','spread', 'max_profit', 'max_loss', 'pnl','win_prob', 'trade_stock_price', 'target_low', 'target_high', 'leg 1 strike', 'leg 2 strike', 'leg 3 strike', 'leg 4 strike']]

,strategy,exp_date,spread,max_profit,max_loss,pnl,win_prob,trade_stock_price,target_low,target_high,leg 1 strike,leg 2 strike,leg 3 strike,leg 4 strike
5,Short Put,2023-08-04,NaN,4.60,6.679997,0.688623,68.5,110.949997,100.619997,121.279997,110.0,NaN,NaN,NaN
6,Short Put,2023-08-11,NaN,5.09,7.339997,0.693461,67.2,110.949997,99.469997,122.429997,110.0,NaN,NaN,NaN
7,Short Put,2023-08-18,NaN,5.55,8.399997,0.660715,68.4,110.949997,97.949997,123.949997,110.0,NaN,NaN,NaN
18,Credit Call Spread,2023-08-04,5.0,1.67,3.330000,0.501502,64.3,110.949997,100.619997,121.279997,114.0,119.0,NaN,NaN
19,Credit Put Spread,2023-08-04,4.0,1.34,2.660000,0.503759,67.8,110.949997,100.619997,121.279997,107.0,103.0,NaN,NaN
20,Credit Call Spread,2023-08-11,1.0,0.42,0.580000,0.724138,69.7,110.949997,99.469997,122.429997,118.0,119.0,NaN,NaN
21,Credit Put Spread,2023-08-11,1.0,0.35,0.650000,0.538462,70.5,110.949997,99.469997,122.429997,104.0,103.0,NaN,NaN
22,Credit Call Spread,2023-08-18,10.0,3.75,6.250000,0.600000,55.0,110.949997,97.949997,123.949997,110.0,120.0,NaN,NaN
23,Credit Put Spread,2023-08-18,10.0,3.64,6.360000,0.572327,64.0,110.949997,97.949997,123.949997,110.0,100.0,NaN,NaN
9,Credit Iron Condor,2023-08-04,3.0,1.00,2.000000,0.500000,71.2,110.949997,100.619997,121.279997,104.0,101.0,135.0,132.0
10,Credit Iron Condor,2023-08-11,2.0,0.80,1.200000,0.666667,70.3,110.949997,99.469997,122.429997,100.0,98.0,130.0,128.0
11,Credit Iron Condor,2023-08-18,5.0,1.94,3.060000,0.633987,58.4,110.949997,97.949997,123.949997,105.0,100.0,135.0,130.0
5,Credit Call Butterfly,2023-08-11,10.0,3.75,6.250000,0.600000,64.5,110.949997,99.469997,122.429997,99.0,109.0,119.0,NaN